body {
    font-family: sans-serif;
}

h1{
    text-align: center;
}

header {
    background-image: linear-gradient(to right, rgb(255, 144, 222), rgb(133, 213, 249));
    height: 100px;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

footer img {
    box-shadow:  10px 10px 10px 0 black;
    margin-top: 10px;
    margin-left: 130px;
    border-radius: 30px;
}

.link-text {
    text-decoration: none;
    color: black;
}

.link-text:hover{
    color: rgb(255, 144, 222);
    transition: all 0.6 ease-in-out;
}

ul {
    list-style: url('https://learn.algoritmika.org/uploads/student/3140040/66489529d30a7.png');
}
